.glide__arrow{
    color: white !important;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
#Controlls{
    position: relative;
    left: 0px;
    bottom: -100px;
    padding: 0;
}

#impressum{
    width: 100%;
    height: fit-content;
    position: absolute !important;
    bottom: 0;
    left: 0;
    border-top: 5px solid black;
    padding: 10px;
    position: relative;
}