.glide__arrow{
    color: white !important;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
#Controlls{
    position: relative;
    left: 0px;
    bottom: -100px;
    padding: 0;
}

#impressum{
    width: 100%;
    height: fit-content;
    position: absolute !important;
    bottom: 0;
    left: 0;
    border-top: 5px solid black;
    padding: 10px;
    position: relative;
}

.glide__slide--active > img{
    border: 5px dotted black;
}

h1 {
	font-family: 'Oswald';
	font-size: 36px;
	letter-spacing: 8px;
	text-transform: uppercase;
	padding: 15px;
	color: #99e1d9;
}

h2 {
	font-family: 'Oswald';
	font-size: 28px;
	letter-spacing: 8px;
	text-transform: uppercase;
	padding: 15px;
	color: #99e1d9;
}


fontnav {
	font-family: 'Oswald';
	font-size: 25px;
	letter-spacing: 8px;
	text-transform: uppercase;
	padding: 15px;
	color: #9b9a9a;
}

fontnav:hover {
	letter-spacing: 10px;
	text-transform: uppercase;
	padding: 15px;
	color: #99e1d9;
	-webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	transition: all 1s ease;
}

a {
	font-family: 'Oswald';
	letter-spacing: 4px;
	text-transform: uppercase;
	padding: 15px;
	color: #9b9a9a;
}

a:hover {
	font-family: 'Oswald';
	letter-spacing: 4px;
	text-transform: uppercase;
	padding: 15px;
	color: #99e1d9;
}

