<h1>Hinzufügen von Spielen in die Datenbank</h1>
<div id="form-games">
    <div class="row">
        <div class="col-6">
            <label for="inputtitel">Titel</label>
            <input type="text" class="form-control" id="inputtitel" placeholder="Titel" required>
        </div>
        <div class="col-6">
            <label for="inputreleaser">Releaser</label>
            <select id="inputreleaser" class="form-control" multiple>
                <option selected>Auswählen</option></option>
               <option id="1">2K</option>
               <option id="2">EA Sports</option>
               <option id="3">EA</option>
               <option id="4">VALVE</option>
               <option id="6">Blizzard</option>
               <option id="7">Rockstar</option>
               <option id="8">SEGA Studios Japan</option>
               <option id="9">Hideo Kojima Production</option>
               <option id="10">Konami</option>
               <option id="11">Bungie</option>
               <option id="12">Square Enix</option>
               <option id="13">Lucas Arts</option>
               <option id="14">Nintendo</option>
               <option id="15">Mihoyo</option>
               <option id="16">Ubisoft</option>
               <option id="17">Namco Bandai</option>
               <option id="18">Tencent</option>
               <option id="19">CAPCOM</option>
               <option id="20">Santa Monica Studio</option>
               <option id="21">Gearbox Software</option>
               <option id="22">Chucklefish Ltd.</option>
               <option id="23">Gameloft</option>
               <option id="24">Epic Games</option>
               <option id="25">Riot Games</option>
               <option id="27">id Software</option>
               <option id="29">Activision</option>
               <option id="30">CD Projekt</option>
               <option id="31">Avalanche Studios Group</option>
               <option id="32">FROM Software</option>
               <option id="33">Wube Software</option>
               <option id="34">Frictional Games</option>
               <option id="35">Red Barrel Games</option>
               <option id="36">Natsume Inc.</option>
               <option id="37">Endnight Games</option>
               <option id="38">Sickhead Games</option>
               <option id="39">Roblox Corporation</option>

               

            </select>
        </div>
    </div>
    <div class="row">
        <div class=" col-6">
            <label for="inputurl">URL zu einem Store</label>
            <input type="text" class="form-control" id="inputurl" placeholder="https://steam.....">
        </div>
        <div class="col-6">
            <label for="inputgenre">Genres</label>
            <select id="inputgenre" class="form-control" multiple>
                <option selected>Auswählen</option>
                <option id="1">Action-Adventure</option>
                <option id="3">Arcade</option>
                <option id="4">Aufbau-Strategie</option>
                <option id="5">Battle-Royale-Shooter</option>
                <option id="7">Denkspiel</option>
                <option id="8">Ego-Shooter</option>
                <option id="9">Gesellschaftsspiel</option>
                <option id="10">Jump ’n‘ Run</option>
                <option id="11">Klassisches Adventure</option>
                <option id="13">Lifestyle</option>
                <option id="14">Management-Spiel</option>
                <option id="15">Match-Three Game</option>
                <option id="17">Militärische Strategie</option>
                <option id="18">Musikspiel</option>
                <option id="19">Online-Rollenspiel</option>
                <option id="20">Online-Shooter</option>
                <option id="21">Racer</option>
                <option id="22">Rollenspiel</option>
                <option id="23">Rundenbasiertes Rollenspiel</option>
                <option id="24">Shoot ‘em Up</option>
                <option id="25">Shooter</option>
                <option id="26">Simulation</option>
                <option id="28">Sportspiele</option>
                <option id="29">Strategie</option>
                <option id="30">Taktik-Shooter</option>
                <option id="31">Third-Person Shooter</option>
                <option id="32">Wimmelbildspiel</option>
                <option id="34">Hack n Slash</option>
                <option id="35">Brawler</option>
                <option id="36">Digital Novels</option>
                <option id="37">Tower Defense</option>
                <option id="38">Lernspiel</option>
                <option id="39">Clicker-Game</option>
                <option id="40">Browser Game</option>
                <option id="41">Escape Games</option>
                <option id="42">Puzzle</option>
                <option id="43">Casino</option>
                <option id="44">Point&Click Adventure</option>
                <option id="45">Interaktiver Film</option>
            </select>
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <label for="inputdescription">Beschreibung</label>
            <input type="text" id="inputdescription" class="form-control" placeholder="Es ist ein Spiel über .....">
        </div>
        <div class="col-6">
            <label for="inputplatf">Plattform</label>
            <select id="inputplatf" class="form-control">
                <option selected>Auswählen</option>
                <option id="1">PlayStation 1</option>
                <option id="2">PlayStation 2</option>
                <option id="3">PlayStation 3</option>
                <option id="4">PlayStation 4</option>
                <option id="5">PlayStation 5</option>
                <option id="6">PSP</option>
                <option id="7">PSP VITA</option>
                <option id="8">XBOX</option>
                <option id="9">XBOX 360</option>
                <option id="10">XBOX One</option>
                <option id="11">XBOX X</option>
                <option id="12">Switch</option>
                <option id="13">Switch Lite</option>
                <option id="14">Wii</option>
                <option id="15">Nintendo 3DS</option>
                <option id="16">Nintendo 2DS</option>
                <option id="17">Nintendo DSi</option>
                <option id="18">Nintendo DS</option>
                <option id="19">Nintendo DS Lite</option>
                <option id="20">Nintendo GameBoy Advanced</option>
                <option id="21">Nintendo Gameboy Color</option>
                <option id="22">Nintendo 64</option>
                <option id="23">Gamecube</option>
                <option id="24">Sega Mega Drive</option>
                <option id="25">Sega DreamCast</option>
                <option id="26">Android</option>
                <option id="27">iOS</option>
                <option id="28">PC</option>
                <option id="29">Wii U</option>
                <option id="30">SNES</option>
                <option id="31">NES</option>

            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <br>
            <label for="inputbilder" class="form-label">Bilder</label>
            <input id="inputbilder" class="filepond" type="file" onchange="handleFiles(this.files)" multiple>
        </div>
        <div class="col-6">
            <div class="col-6">
                <label for="inputfsk">FSK</label>
                <select id="inputfsk" class="form-control">
                    <option selected>Auswählen</option>
                    <option id="0">FSK 0</option>
                    <option id="6">FSK 6</option>
                    <option id="12">FSK 12</option>
                    <option id="16">FSK 16</option>
                    <option id="18">FSK 18</option>
                </select>
            </div>
        </div>
    </div>
    <br>
    <button type="submit" onclick="submitdata()" class="btn btn-primary">Hinzufügen</button>
</div>
<script>
    FilePond.setOptions({
        server: "/api/uploadbild",
        allowMultiple: true,
    })
    FilePond.parse(document.body);
    load()

</script>