<h1>Hinzuf체gen von Spielen in die Datenbank</h1>
<div id="form-games">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputtitel">Titel</label>
            <input type="text" class="form-control" id="inputtitel" placeholder="Titel" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputreleaser">Releaser</label>
            <select id="inputreleaser" class="form-control" multiple>
                <option selected>Ausw채hlen</option>
                <option>Blizard</option>
                <option>Riot</option>
                <option>....</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputurl">URL zu einem Store</label>
        <input type="text" class="form-control" id="inputurl" placeholder="https://steam.....">
    </div>
    <div class="form-group">
        <label for="inputdescription">Beschreibung</label>
        <input type="text" class="form-control" id="inputdescription" placeholder="Es ist ein Spiel 체ber .....">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Hinzuf체gen</button>
</div>