<table style="height: 580px;">
  <tr>
    <td>
      <div class="imagedetail">
        <img id="det-img" src="https://img.g2a.com/1080x1080/1x1x0/bioshock-steam-key-global/5b76ce6b5bafe39221153b72">
      </div>
    </td>



    <td>
      <div class="detailbox">
        <div id="det-headerbox" class="headerdetail">Videospieltitel</div>
        <br>
        <div id="det-smallheaderbox" class="smallheaderdetail">
          <a id="det-genre">[ ]</a> <a id="det-fsk">[ ]</a> <a id="det-platform">[ ]</a>
        </div>
        <br>
        <div id="det-textbox" class="textbox">
        </div>
        <table>
          <tr>
            <td>
              <div class="smalldetails">
                <b>Kauf' es gleich hier!</b>
                <br>➟ Zum Shop
            </td>
          </tr>
        </table>
        <div class="detailicons">
          <div class="icontext">
            <img id="det-img" src="https://cdn-icons-png.flaticon.com/512/2/2267.png">
          </div>
          <div class="hide">Favorisieren</div>
          
        </div>
      </div>
      </div>
    </td>
  </tr>
</table>