<h1 id="homepage">GameTopia</h1>
<div id="gl" class="position-relative">
  <div id="ind-loaderdiv" class="position-absolute top-50 start-50 translate-middle">
    <h2 class="position-absolute top-25 start-50 translate-middle w-100 text-center">Spiele werden geladen!</h2>

    <div class="progress position-absolute placeholder-wave translate-middle start-50 h-25 w-75 bottom-0">
      <div id="loadingbar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
        aria-valuemax="100" style="width:0%">

      </div>
    </div>
  </div>

  <div class="glide">
    <div class="glide__track" data-glide-el="track" id="slideshow">
      <ul class="glide__slides" id="slides">
      </ul>
    </div>
    <button class="glide__arrow glide__arrow--left" id="prevbtn" onclick="window.domove('<')"><span
        class="carousel-control-prev-icon" aria-hidden="true"></span></button>
    <button class="glide__arrow glide__arrow--right" id="nextbtn" onclick="window.domove('>')"><span
        class="carousel-control-next-icon" aria-hidden="true"></span></button>
  </div>
</div>

<div class="infobox">
  <div id="ind-headerbox" class="headerbox">Videospieltitel</div>
  <br>
  <div id="ind-smallheaderbox" class="smallheaderbox">
   <a id="ind-genre">[ ]</a> <a id="ind-fsk">[ FSK 18 ]</a> <a id="ind-platform">[ ]</a>
  </div>
  <br>
  <div id="ind-textbox" class="textbox">

  </div>
  <div class="smallfooterbox">
    » Details & Shoplink
  </div>
</div>
