<div class="header">
    Liste
</div>
<center>
<<<<<<< HEAD
    <div id="gamelist" class="displaylist">
=======
    <div class="displaylist">

>>>>>>> d76ae3428e42d7684dd9c7485ddc236fb3f09a67
    </div>
</center>
