<div class="container mt-3">
  <h2>Bitte die Login Daten eingeben!</h2>
    <div class="mb-3 mt-3">
      <label for="bnn">Benutzername:</label>
      <input type="benutzername" class="form-control" id="bnn" placeholder="Benutzername eingeben" name="benutzername">
    </div>
    <div class="mb-3">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Passwort eingeben" name="pswd">
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Speichern
      </label>
    </div>
    <button type="button" onclick="window.dologin()" class="btn btn-primary">Absenden</button>
    <button type="button" onclick="window.location.href ='/register'" class="btn btn-primary">Registrieren</button>
</div>



