<div class="profilebody">
  <div class="profilbox">

    <table>
      <tr>
        <td>
          <div id="bigregname" class="username">USERNAME</div>
        </td>
        <td>
          <div class="friend">
          </div>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td>
          <div class="profilimg"></div>
        </td>

        <td>
          <div class="profileheader">Allgemein</div>
          <div class="profildetail">
            <b>Name</b>
            <div id="regname" class="profildetailuser">Name</div>
            <br />
            <b>Alter</b>
            <div id="regage" class="profildetailuser">18</div>
            <br />
            <b>Registriert seit</b>
            <div id="regdate" class="profildetailuser">01.01.2022</div>
          </div>
        </td>
    </table>

    {{!-- <div class="profiltext" style="margin-top: 30px;">
      <div class="profileheader">
        About me
      </div>
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
      sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
      justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
      sanctus
    </div>
  </div> --}}
</div>