<div class="container">
<div class="header">GAMETOPIANS</div>
<br><div class="smallheader">
Schau her! Die User von Gametopia wurden Gametopians getauft. Wenn du wissen möchtest, wer sich für welche Spiele interessiert, dann bist du hier genau richtig!
</div>
<br>
<div id="userlist" class="textbox">
<table style="width: 100%;">
<tr><th></th><th>username</th><th>registriert seit</th></tr>
<tr>
<td style="width: 10%;">
<div id="userpic" class="profilimg"></div>
</td>
<td style="width: 45%; ">
<div id="username" class="smallfooter">
Rookie
</div>
</td>
<td style="width: 45%;">
<div id="username" class="smallfootertext">
21.01.2022
</div>
</td>
</tr>
<tr>
<td style="width: 10%;">
<div id="userpic" class="profilimg"></div>
</td>
<td style="width: 45%; ">
<div id="username" class="smallfooter">
Pampfl
</div>
</td>
<td style="width: 45%;">
<div id="username" class="smallfootertext">
04.07.2021
</div>
</td>
</tr>
<tr>
<td style="width: 10%;">
<div id="userpic" class="profilimg"></div>
</td>
<td style="width: 45%; ">
<div id="username" class="smallfooter">
Kreuzkümmel Steinmauerer
</div>
</td>
<td style="width: 45%;">
<div id="username" class="smallfootertext">
13.01.2022
</div>
</td>
</tr>
<tr>
<td style="width: 10%;">
<div id="userpic" class="profilimg"></div>
</td>
<td style="width: 45%; ">
<div id="username" class="smallfooter">
Doktor Doofenshmirtz
</div>
</td>
<td style="width: 45%;">
<div id="username" class="smallfootertext">
08.10.2021
</div>
</td>
</tr>
<tr>
<td style="width: 10%;">
<div id="userpic" class="profilimg"></div>
</td>
<td style="width: 45%; ">
<div id="username" class="smallfooter">
Dudelu
</div>
</td>
<td style="width: 45%;">
<div id="username" class="smallfootertext">
30.12.2021
</div>
</td>
</tr>
</table>
</div>

</div>